.example-spacer {
  flex: 1 1 auto;
}

.tool{

  margin-bottom: 1rem;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul{
  display: flex;
}
a{
  text-decoration: none;
  color: white;
}

.spacer{

  flex: 1 1 auto;
}
